.container
  .div.confirm_selection
    %h3 Enter your ID below to proceed
    .col-md-6
      %input.form-control{:type => "text", :value => "", :id => "token_id"}/
    .col-md-6
      %button{:id => 'confirm'}
        %h6.mb-0 Confirm

  .div.timer_show
    .col-md-6.mb-3
      %button{:id => 'punch_in'}
        %h6.mb-0 Punch In 

  .div.clock_show


  
:javascript
  $(document).ready(function(){
    $('#punch_in').hide()

    $("#confirm").click(function(){
      console.log($('#token_id').val())
      if ($('#token_id').val().length > 0){
      	$.ajax({
          url: '/workers/confirm_worker',
          type: 'GET',
          data: { 'token': $('#token_id').val() },
          success: (response) => {
            console.log(response.id)
            $('.confirm_selection').hide()
            $('#punch_in').show()
            
          },
          error: (response) => {
            console.log(response);
            return
          }
        });
      }
    });

    $("#punch_in").click(function(){
      
    });

  });

