.container
  %h1 TimeClock
  .div.confirm_selection
    .col-md-6
      %label Add unique identifide
      %input.form-control{:type => "text", :value => "", :id => "token_id"}/

    .col-md-6.text-right.mt-3
      %button{id: 'confirm', class: "btn btn-primary text-right"}
        %h6.mb-0 Confirm


  .div.timer_section.d-none
    .col-md-6.mb-3
      .form-group
        %button{id: 'punch_in', class: 'form-control'}
          %h6.mb-0 Punch In

      #countdown_clock.d-none
        %p{id: 'countdown_clock'}
          Elapsed Time:
          %span{ id: 'output' }
            00:00:00

        .form-group
          %button{id: 'punch_out', class: 'btn btn-danger'}
            %h6.mb-0 Punch Out

  .col-md-6
    = link_to "Go Back Home", root_url, class: "btn btn-secondary"

  .div.clock_show
